@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-neutral-400: #808080;
  --color-neutral-500: #737373;
  --color-neutral-700: #333333;
  --color-neutral-800: #262626;

  --color-amber-400: #FFC249;
  --color-blue-600: #2573D2;

  --font-hanken-grotesk: var(--font-hanken-grotesk);
}

*{
  font-family: var(--font-hanken-grotesk), sans-serif;
}
body {
  background: var(--color-black);
  color: var(--color-white);
  
}
