@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-neutral-400: #808080;
  --color-neutral-500: #737373;
  --color-neutral-700: #333333;
  --color-neutral-800: #262626;

  --color-amber-400: #ffc249;
  --color-blue-600: #2573d2;
  --color-blue-700: #105bb7;

  --font-hanken-grotesk: var(--font-hanken-grotesk);
}

* {
  font-family: var(--font-hanken-grotesk), sans-serif;
}
body {
  background: var(--color-black);
  color: var(--color-white);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:focus-visible {
  outline: none;
  outline-offset: none;
}
